/* Box resizer grip */
.box-resizer-grip {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  cursor: nwse-resize;
  width: 20px;
  height: 20px;
}

.box-resizer-grip .icon-box {
  background: var(--figma-color-icon);
  width: var(--size-xsmall);
  height: var(--size-xsmall);
  pointer-events: none;
}

/* List */
div.list-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size-xsmall);
}

/* Callout */
div.callout {
  display: flex;
  flex-direction: column;
  gap: var(--size-xxxsmall);
}

div.callout--centered {
  margin: auto;
}

/* Slider */
div.slider {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: var(--size-small);
  padding: 0 var(--size-medium);
}

div.slider .slider__range {
  position: relative;
  flex: 1 1 auto;
  box-shadow: inset 0 0 0 1px var(--figma-color-border-disabled-strong);
  border-radius: var(--border-radius-large);
  height: var(--size-small);
}

div.slider .slider__range--add {
  cursor: copy;
}

div.slider .slider__range--not-allowed {
  cursor: not-allowed;
}

/* User */
div.user {
  display: flex;
  align-items: center;
  gap: var(--size-xxsmall);
}

div.user__avatar {
  border-radius: var(--size-small);
  width: var(--size-small);
  height: var(--size-small);
  overflow: hidden;
}

div.user__avatar img {
  width: 100%;
  height: 100%;
}

/* Tag */
.preview__tag {
  display: flex;
  align-items: center;
  gap: var(--size-xxxsmall);
  border-radius: var(--border-radius-small);
  background: var(--white4);
  padding: 0 var(--size-xxxsmall);
  max-width: 100%;
  max-height: var(--size-xsmall);
  overflow: hidden;
}

.preview__tag .icon-box {
  width: var(--size-xsmall);
}

.preview__tag__color {
  flex: 0 0 var(--size-xxsmall);
  outline: 1px solid var(--black1);
  outline-offset: -1px;
  border-radius: var(--size-small);
  width: var(--size-xxsmall);
  height: var(--size-xxsmall);
}
