/* Box resizer grip */
.box-resizer-grip {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  cursor: nwse-resize;
  width: 20px;
  height: 20px;
}

.box-resizer-grip .icon-box {
  background: var(--figma-color-icon);
  width: var(--size-xsmall);
  height: var(--size-xsmall);
  pointer-events: none;
}

/* List */
ul.list,
ul.rich-list {
  padding: 1px 0;
  overflow-y: auto;
}

ul.list--loading,
ul.rich-list--loading {
  display: flex;
  height: 100%;
}

ul.list--message,
ul.rich-list--message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div.list-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size-xsmall);
}

/* Callout */
div.callout {
  display: flex;
  flex-direction: column;
  gap: var(--size-xxxsmall);
}

div.callout--centered {
  margin: auto;
}

/* Slider */
div.slider {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: var(--size-small);
  padding: 0 var(--size-medium);
}

div.slider .slider__range {
  position: relative;
  flex: 1 1 auto;
  box-shadow: inset 0 0 0 1px var(--figma-color-border-disabled-strong);
  border-radius: var(--border-radius-large);
  height: var(--size-small);
}

div.slider .slider__range--add {
  cursor: copy;
}

div.slider .slider__range--not-allowed {
  cursor: not-allowed;
}

div.slider .slider__knob {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  cursor: ew-resize;
  background: transparent;
  min-width: var(--size-medium);
  height: var(--size-xxlarge);
}

div.slider .slider__label {
  display: flex;
  position: relative;
  justify-content: center;
  box-shadow: 0 0 0 1px var(--figma-color-border-disabled-strong);
  border-radius: var(--border-radius-small);
  background: var(--figma-color-bg);
  padding: var(--size-xxxsmall);
  width: 100%;
  height: var(--size-small);
  pointer-events: none;
  text-align: center;
}

div.slider .slider__knob:hover .slider__label {
  background: var(--figma-color-bg-hover);
}

div.slider .slider__knob:focus,
div.slider .slider__knob--selected,
div.slider .slider__knob--editing {
  z-index: 2 !important;
  outline: none;
}

div.slider .slider__knob:active .slider__label,
div.slider .slider__knob:focus .slider__label,
div.slider .slider__knob--selected .slider__label {
  box-shadow: 0 0 0 2px var(--figma-color-border-selected);
}

div.slider .slider__knob:active .slider__label:before,
div.slider .slider__knob:focus .slider__label:before,
div.slider .slider__knob--selected .slider__label:before {
  bottom: -12px;
  left: calc(50% - 6px);
  border-width: 6px;
  border-top-color: var(--figma-color-border-selected);
}

div.slider .slider__knob:hover .slider__label:after,
div.slider .slider__knob:active .slider__label:after,
div.slider .slider__knob:hover .slider__label:after,
div.slider .slider__knob--selected .slider__label:after {
  border-top-color: var(--figma-color-bg-hover);
}

div.slider .slider__knob--disabled {
  pointer-events: none;
}

div.slider .slider__knob--disabled .slider__label {
  box-shadow: 0 0 0 1px var(--figma-color-border-disabled);
  background: var(--figma-color-bg-disabled);
  color: var(--figma-color-text-ondisabled);
}

div.slider .slider__knob--disabled .slider__label:before {
  border-top-color: var(--figma-color-border-disabled);
}

div.slider .slider__knob--disabled .slider__label:after {
  border-top-color: var(--figma-color-bg-disabled);
}

div.slider .slider__label:before {
  position: absolute;
  bottom: calc(var(--size-xxxsmall) * -2);
  left: calc(50% - var(--size-xxxsmall));
  border-width: var(--size-xxxsmall);
  border-style: solid;
  border-top-color: var(--figma-color-border-disabled-strong);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  width: 0;
  height: 0;
  content: '';
}

div.slider .slider__label:after {
  position: absolute;
  bottom: -6px;
  left: calc(50% - 3px);
  border-width: 3px;
  border-style: solid;
  border-top-color: var(--figma-color-bg);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  width: 0;
  height: 0;
  content: '';
}

div.slider .slider__tooltip {
  position: absolute;
  top: calc(var(--size-xsmall) * -1);
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background: var(--figma-color-bg-inverse);
  padding: var(--size-xxxsmall);
  min-width: var(--size-medium);
  color: var(--figma-color-text-oninverse);
  user-select: none;
  text-align: center;
}

div.slider .slider__tooltip:after {
  position: absolute;
  bottom: -8px;
  left: calc(50% - var(--size-xxxsmall));
  border-width: var(--size-xxxsmall);
  border-style: solid;
  border-top-color: var(--figma-color-bg-inverse);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  width: 0;
  height: 0;
  content: '';
}

div.slider .slider__graduation {
  background: var(--figma-color-border-disabled-strong);
  width: 1px;
  height: var(--size-xxxsmall);
  pointer-events: none;
}

div.slider .slider__input {
  position: absolute;
  top: calc(var(--size-xxsmall) * -1);
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  z-index: 2;
  box-shadow: var(--shadow-floating-window);
  border: 1px solid var(--figma-color-border);
  border-radius: var(--border-radius-med);
  background-color: var(--figma-color-bg);
  padding: 1px 2px;
  width: var(--size-xxlarge);
}

/* User */
div.user {
  display: flex;
  align-items: center;
  gap: var(--size-xxsmall);
}

div.user__avatar {
  border-radius: var(--size-small);
  width: var(--size-small);
  height: var(--size-small);
  overflow: hidden;
}

div.user__avatar img {
  width: 100%;
  height: 100%;
}

/* Tag */
.preview__tag {
  display: flex;
  align-items: center;
  gap: var(--size-xxxsmall);
  border-radius: var(--border-radius-small);
  background: var(--white4);
  padding: 0 var(--size-xxxsmall);
  max-width: 100%;
  overflow: hidden;
}

.preview__tag__color {
  flex: 0 0 var(--size-xxsmall);
  outline: 1px solid var(--black1);
  outline-offset: -1px;
  border-radius: var(--size-small);
  width: var(--size-xxsmall);
  height: var(--size-xxsmall);
}
